<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Smart Receptionist System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  </head>
  <body>
    <div class="overlap">
      <h1 class="title">SMART RECEPTIONIST SYSTEM</h1>
      <div class="controls">
        <button class="speakBtn" id="speak">
          <i id="icon" class="fa-solid fa-microphone fa-2x"></i>
        </button>
      </div>
      <p id="query" class="query">[click the button to speak]</p>
      <p id="answer" class="query"></p>
    </div>

    <script src="/static/js/recorder.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>